.textLog{
    margin-top:50vh;
}
.logContainer {
    font-family: 'Inconsolata', monospace;
    text-shadow:1px 1px 10px aqua, 1px 1px 10px #ccc;
    color: aqua;
}
#inputKey {
    font-family: 'Inconsolata', monospace;
    color: aqua;
}
#fKey{
    background-color:aqua;
}
#ButtonAnalyze{
                font-family: 'Inconsolata', monospace;
    color: aqua;

    background-color: RGB(0,0,0,0);

}
